@import '../base';

.blog-heading {
    text-align: center;
    width: 100%;

    .underline-small {
        text-align: center;
        display: inline-block;
        position: relative;
        color: $element-dark;
        display: inline-block;
        position: relative;
        padding-bottom: 8px;
    }

    .underline-small::after {
        content: '';
        height: 3px;
        width: 70px;
        margin-top: 10px;
        background: $pri-orange;
        position: absolute;
        left: calc(50% - 15%);
        bottom: -5px;
    }
}

.link {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;

    p {
        text-align: center;
    }
}
.blog-cards {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1092px;
    margin: 0 auto;
    padding: 45px;
    padding-top: 0;

    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Three boxes in a row */

    gap: 30px; /* Increase gap for more spacing between cards */

    .card {
        background-color: #ffffff;
        border-radius: 0; /* Remove border-radius for square edges */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        overflow: hidden;

        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }

        .cover {
            height: 150px; /* Decrease height for smaller boxes */
            overflow: hidden;
            border-bottom: 1px solid #eaecef;
        }

        .cardbody {
            padding: 20px;

            h3 {
                margin-bottom: 10px;
                font-size: 18px; /* Adjust font size for smaller boxes */
            }

            .post-author {
                display: flex;
                align-items: center;

                img {
                    width: 30px; /* Decrease width for smaller avatar */
                    height: 30px; /* Decrease height for smaller avatar */
                    border-radius: 50%;
                    margin-right: 10px;
                }

                p {
                    margin: 0; /* Remove default margin */
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .blog-cards {
        grid-template-columns: repeat(1, minmax(200px, 1fr)); /* Single column layout for smaller screens */
        padding: 15px;
    }
}